{% extends "base.html" %}

{% block content %}

<main role="main" class="container">
<h1>Добавление занятия</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.group_id.label }}<br>
            {{ form.group_id(class="form-control") }}<br>
            {% for error in form.group_id.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>
            {{ form.teacher_id.label }}<br>
            {{ form.teacher_id(class="form-control") }}<br>
            {% for error in form.teacher_id.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>
            {{ form.date.label }}<br>
            {{ form.date(class="form-control") }}<br>
            {% for error in form.date.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
</main>
{% endblock %}