{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <th>Имя</th>
        {% for elem in dates%}
        <th>{{elem}}</th>
        {% endfor %}
    </tr>
    {% for elem in students %}
    <tr>
        <td>{{elem.name}} {{elem.surname}}</td>
        {% for student_attendance in data %}
            {% for one in student_attendance %}
                {% if one.student_id == elem.id %}
                    {% if one.is_attended %}
                        <td class="p-4 mb-2 bg-success text-white">+</td>
                    {% else %}
                        <td class="p-4 mb-2 bg-danger text-white">-</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}