{% extends "base.html" %}

{% block content %}
<h1>Оплата</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.student_id.label }}<br>
        {{ form.student_id(class="form-control") }}<br>
        {% for error in form.student_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.days_number.label }}<br>
        {{ form.days_number(class="form-control") }}<br>
        {% for error in form.days_number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}