
{% extends "base.html" %}




{% block content %}
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/lesson/pay/{{lesson_id}}">🔙</a>
        <h1>{{student.name}} {{student.surname}}</h1>



    </nav>
</header>

<center>
<main role="main" class="container">
{% for i in range(length) %}
<table>
    <tr>
        {% for elem in dates[i] %}
            <th>{{elem}}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for one in all_data[i] %}
            {% if one.is_payed %}
                <td class="p-4 mb-2 bg-success text-white">➕</td>
            {% else %}
                <td class="p-4 mb-2 bg-danger text-white">➖</td>
            {% endif %}
        {% endfor %}
    </tr>
</table>
{% endfor %}
</center>


<form action="" method="post">
    <center>
    {{ form.hidden_tag() }}
    <p>
    <h3>{{ form.days_number.label }}</h3><br>
        <div style="width: 20%">{{ form.days_number(class="form-control") }}</div><br>
        {% for error in form.days_number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
        </center>
</form>
</main>


{% endblock %}