{% extends "base.html" %}

{% block content %}
<a>
    <a style="margin-right: 100%" href="/lesson/pay/{{lesson_id}}">🔙</a>
    <h1>{{student.name}} {{student.surname}}</h1>
</a>
{% for i in range(length) %}
<table>
    <tr>
        {% for elem in dates[i] %}
            <th>{{elem}}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for one in all_data[i] %}
            {% if one.is_payed %}
                <td class="p-4 mb-2 bg-success text-white">➕</td>
            {% else %}
                <td class="p-4 mb-2 bg-danger text-white">➖</td>
            {% endif %}
        {% endfor %}
    </tr>
</table>

{% endfor %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.days_number.label }}<br>
        {{ form.days_number(class="form-control") }}<br>
        {% for error in form.days_number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>

{% endblock %}